main {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .get-back {
  position: absolute;
  top: 2rem;
  font-size: 2rem;
  text-decoration: none;
}

main .book {
  width: 60%;
  height: auto;
  display: flex;
  padding: 5%;
  box-shadow: 5px 5px 7px #b8b9be, -3px -3px 7px #fff;
  border-radius: 20px;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
}

main .book img {
  max-width: 60%;
}

main .book .details {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 0 0 6%;
}

main .book .details h1 {
  flex-basis: 70%;
}

main .book .details h2 {
  flex-basis: 100%;
}

main .book .details h3 {
  flex-basis: 100%;
}

main .book .details p {
  flex-basis: 28%;
  text-align: end;
}

main .book .details .dropdown-wrapper {
  flex-basis: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  cursor: default;
}

main .book .details .dropdown-wrapper h2 {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

main .book .details .dropdown-wrapper h2 .arrow {
  border: solid #44476A;
  margin-left: .5rem;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform .3s;
}

main .book .details .dropdown-wrapper:hover .dropdown, main .book .details .dropdown-wrapper:focus .dropdown {
  display: block;
}

main .book .details .dropdown-wrapper:hover .arrow, main .book .details .dropdown-wrapper:focus .arrow {
  transform: rotate(-135deg);
}

main .book .details .dropdown-wrapper .dropdown {
  width: 50%;
  text-align: start;
  text-align: center;
  position: absolute;
  display: none;
  z-index: 10;
  margin-top: 2rem;
}

main .book .details .dropdown-wrapper .dropdown p {
  text-align: center;
}

main .book .details .dropdown-wrapper .dropdown ul,
main .book .details .dropdown-wrapper .dropdown p {
  box-shadow: 5px 5px 7px #b8b9be, -3px -3px 7px #fff;
  list-style-type: none;
  border-radius: 20px;
  display: none;
  transition: opacity .3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #e6e7ee;
}

main .book .details .dropdown-wrapper .dropdown ul a,
main .book .details .dropdown-wrapper .dropdown p a {
  margin: 1rem 0 1rem 0;
}

main .book .details .dropdown-wrapper .dropdown ul li,
main .book .details .dropdown-wrapper .dropdown p li {
  text-align: center;
  width: 100%;
}

main .book .details .dropdown-wrapper .dropdown:hover ul, main .book .details .dropdown-wrapper .dropdown:focus ul {
  display: block;
}

main .book .details .links {
  flex-basis: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

main .book .details .links a {
  flex-basis: fit-content;
  text-decoration: none;
  font-size: 1.5vw;
}

main .book .details .links span {
  min-width: 3rem;
  height: 3rem;
  margin: 0 0 0 1.5rem;
  cursor: pointer;
  border: 1px solid #D1D9E6;
  border-radius: 50%;
  box-shadow: 5px 5px 7px #b8b9be, -3px -3px 7px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

main .book .details .links span:hover {
  box-shadow: inset 2px 2px 5px #b8b9be, -3px -3px 7px #fff;
}

main .book .details .links span i {
  font-size: 1.5em;
  color: #2a67eb;
}

@media only screen and (max-width: 1100px) {
  main .book {
    flex-basis: 90%;
    font-size: 2vw;
  }
  main .book .details .links a {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 600px) {
  main .book {
    height: auto;
    justify-content: center;
    font-size: 3vw;
    flex-wrap: wrap;
  }
  main .book .details {
    flex-basis: 100%;
  }
  main .book .details .dropdown-wrapper {
    margin: 0 auto 0 auto;
  }
  main .book .details .links {
    margin-top: 1rem;
  }
  main .book .details .links .dropdown-wrapper {
    flex-basis: 51%;
  }
  main .book .details .links a {
    flex-basis: 51%;
    font-size: 3.5vw;
  }
}
/*# sourceMappingURL=book-page.css.map */